<head>
  <title><%= title %></title>
  <link rel="icon" href="/images/icon.png">
  <script src="https://kit.fontawesome.com/f5ed9082ee.js" crossorigin="anonymous"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>