<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>


<body>
  <%- include('./partials/header') %>
  <%- include('./partials/navbar') %>
  <p>some info about the website</p>
  <p>Pantry at a glance - total items, total categories, total brands, total amount of food per unit</p>
  <%- include('./partials/footer') %>
</body>

</html>