<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link href="/output.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet" />
  <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
</head>

<body>
  <h1 class="text-red-500"><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <script src="/tw-elements/dist/js/tw-elements.umd.min.js" type="text/javascript"></script>
</body>

</html>