<div className="flex flex-row items-center justify-center gap-2 mb-1.5">
  <a href="https://github.com/yuliana-r/inventory-app" target="_blank" rel="noreferrer" aria-label='project repository'>
    <i class="fa-brands fa-github transition-transform hover:rotate-[360deg] hover:scale-125">
    </i></a>
  <p className='mb-2 text-4xl select-none font-motto'>yuliana-r</p>
</div>