<div>
  <a href="https://github.com/yuliana-r/inventory-app" target="_blank" rel="noreferrer" aria-label='project repository'>
    <i class="fa-brands fa-github">
    </i></a>
  <p>yuliana-r</p>
</div>