<header>
  <p class="logo">veggie bites</p>
  <p class="slogan">tried & approved vegan recipes</p>
  <nav>
    <p class="nav-link"><a href="/catalog" class="nav-link">HOME</a></p>
    <p class="nav-link"><a href="/catalog/recipes" class="nav-link">RECIPES</a></p>
    <p class="nav-link"><a href="/catalog/authors" class="nav-link">AUTHORS</a></p>
    <p class="nav-link"><a href="/catalog/categories" class="nav-link">CATEGORIES</a></p>
  </nav>
</header>