<header>
  <p><i class="fa-solid fa-leaf"></i> veggie bites</p>
  <a href="/catalog">Home</a>
  <a href="/catalog/recipes">Recipes</a>
  <a href="/catalog/authors">Authors</a>
  <a href="/catalog/categories">Categories</a>
</header>