<div class="sm:w-1/5 pr-4 pl-4">
  <ul class="sidebar-nav">
    <li><a href="/catalog">Home</a></li>
    <li><a href="/catalog/recipes">Recipes</a></li>
    <li><a href="/catalog/authors">Authors</a></li>
    <li><a href="/catalog/categories">Categories</a></li>
    <li>
      <hr />
    </li>
    <li><a href="/catalog/author/create"><i class="fa-solid fa-user-plus"></i> Add author</a></li>
    <li><a href="/catalog/category/create"><i class="fa-solid fa-folder-plus"></i> Add Category</a></li>
    <li><a href="/catalog/recipe/create"><i class="fa-solid fa-file-circle-plus"></i> Add Recipe</a></li>
  </ul>
</div>