@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Special+Elite&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-black: #2c2c2c;
  --primary-dark: #689262;
  --primary-light: #f7f8f8;
  --primary-red: #c24028;
  --coral: #e67f4e;
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-light);
}

/* Header */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('../images/header.jpg');
  background-position: center;
  background-repeat: repeat;
  width: 100%;
  height: 12em;
  border-bottom: 1px solid var(--primary-black);
  color: var(--primary-light);
  margin-bottom: 1em;
}

.logo {
  font-family: 'Special Elite', monospace;
  font-size: 2.5rem;
  margin: 0.25em;
  font-weight: 600;
  letter-spacing: 2px;
  background-color: var(--primary-black);
  padding: 0.2em;
  transform: rotate(-1deg);
}

.logo:hover {
  transform: rotate(0deg);
}

.logo > a {
  text-decoration: none;
  color: white;
}

.tagline {
  font-family: 'Montserrat', sans-serif;
  padding: 0.25em;
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: 400;
  background-color: var(--primary-black);
  transform: rotate(1deg);
}

/* Navbar */

nav {
  margin: 0.5em;
  display: flex;
  gap: 1em;
  width: 80%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav-link {
  text-decoration: none;
  background-color: var(--primary-light);
  color: var(--primary-black);
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 2px;
  border: 1px solid var(--primary-black);
  padding: 0.5em;
  transform: rotate(-3deg);
  transition: transform 0.3s ease-in-out;
}

.nav-link:hover {
  transform: scale(1.05);
}

/* Index */

.info {
  font-family: 'Special Elite', monospace;
  width: 60%;
  line-height: 1.3;
  text-align: center;
  font-size: 1.5em;
  padding: 1em;
}

.pantry-summary {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 60%;
}

.item-summary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 10em;
  height: 10em;
  margin: 1em;
  border: 2px solid var(--primary-black);
  border-radius: 5px;
  color: var(--primary-light);
  background-color: var(--primary-dark);
  font-family: 'Special Elite', monospace;
  padding: 1em;
}

.entity-total {
  font-size: 2.5em;
  padding: 0.3em 0.1em;
  font-weight: 600;
}

.entity-name {
  align-self: flex-end;
  font-size: 1.5em;
  color: var(--primary-black);
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-black);
  user-select: none;
  flex-direction: row;
  padding: 0.75em;
  font-family: 'Special Elite', serif;
  font-size: 20px;
  gap: 0.4em;
  letter-spacing: 2px;
  color: var(--primary-light);
  width: 100%;
}

.fa-github {
  font-size: 1em;
  color: var(--primary-light);
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}
